#contact{
    color:white;
    text-decoration-style: dotted;
}

#main{
    padding-left:200px;
    padding-right:200px;
}

#footer{
    /** padding:90px; **/
    padding-top: 45px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:45px;
}

#nav{
    padding-left:120px;
    padding-right:120px;
}
